/*  header  */


#header-image{
    background-color: rgba(3, 111, 253, 0.5);
    background-image: url("C:/Users/Menta/Menta Boolean/html-css-booleaner/img/pattern.png");
    background-size: 25%;
    height: 90px;
    width: 120%;
    margin-left: -10%;

}
h1{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0%;
}
.margin
{
    margin-left: 5px;
    margin-right: 5px;
}
main{
    margin-top: 20px;
}
.grey{
    color:gray;
}
.blue{
    color: rgb(50, 129, 248);
    font-size: large;
    font-weight: bold;
}
footer img{
    display: block;
    margin-block: 10px;
}
#footer-table-background{
    background-color: aquamarine;
}
.yellow {
    background-color: yellow;}

h4 {
    color: gray;
}
body { 
    max-width: 1050px;
    margin: auto;
}
.table20{
    width: 20%
}
.table30{
    width: 30%
}
.table50{
    width: 50%
}

thead {
    background-color: darkcyan;
    color: white;
}
table {
    text-align: left;
}