/*  header  */


#header-image{
    background-color: rgba(3, 111, 253, 0.5);
    background-image: url("C:/Users/Menta/Menta Boolean/html-css-booleaner/img/pattern.png");
    background-size: 25%;
    height: 90px;
    width: 50%;

}

.margin
{
    margin-left: 10px;
}

.blue{
    color: rgb(50, 129, 248);
    font-size: large;
    font-weight: bold;
}
footer img{
    display: block;
    margin-block: 10px;
}
.yellow {
    background-color: yellow;}

h4 {
    color: gray;
}
body { 
    margin: auto;
}

thead {
    background-color: darkcyan;
    color: white;
}
tbody {
    background-color: aquamarine;
}