/*  header  */

body { 
    max-width: 1050px;
    margin: auto;
}
#header-image{
    background-color: rgba(3, 111, 253, 0.5);
    background-image: url("C:/Users/Menta/Menta Boolean/html-css-booleaner/img/pattern.png");
    background-size: 25%;
    height: 80px;
    width: 100%;

}
.margin
{
    margin-left: 10px;
}
h1{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0%;
}
.grey{
    color:gray;
}
.blue{
    color: rgb(50, 129, 248);
    font-size: large;
    font-weight: bold;
}

/* main */

main{
    margin-top: 20px;
}
.small_characters{
    font-size: 60%;
    font-weight: bold;
}
.yellow {
    background-color: yellow;}


/* table */

table {
        text-align: left;
    }
thead {
        background-color: darkcyan;
        color: white;
    }

.table20{
        width: 20%
    }
.table30{
        width: 30%
    }
.table50{
        width: 50%
    }


/* footer */

footer img{
    display: block;
    margin-block: 10px;
}
#footer-table-background{
    background-color: aquamarine;
}
h4 {
    color: gray;
}


