/*  header  */


#header-image{
    background-color: rgba(71, 115, 197,0.5);
    background-image: url("img/pattern.png");
    background-size: cover;
    margin: auto;
    
}
header{
    background-image: url("img/tim-1.jpg");
    background-size: auto;
    
    
}
body{
    background-image: url("img/tim-1.jpg");
    background-size: contain;
}

footer img{
    display: block;
    margin-block: 10px;
}
.yellow {
    background-color: yellow;}

body {
    background-image: url("graph.jpg");
}

thead {
    background-color: darkcyan;
    color: white;
}
tbody {
    background-color: aquamarine;
}